<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="wyrgorod-item-heading" data-cy="ItemCreateUpdateHeading">Create or edit a Item</h2>

      <div>
        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('title')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_description">Description</label>
          <textarea
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_medium">Medium</label>
          <select class="form-control" name="medium" formControlName="medium" id="field_medium" data-cy="medium">
            <option [ngValue]="null"></option>
            <option *ngFor="let medium of mediumValues" [value]="medium">{{ medium }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_artist">Artist</label>
          <select class="form-control" id="field_artist" data-cy="artist" name="artist" formControlName="artist">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="artistOption.id === editForm.get('artist')!.value?.id ? editForm.get('artist')!.value : artistOption"
              *ngFor="let artistOption of artistsSharedCollection; trackBy: trackArtistById"
            >
              {{ artistOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_publisher">Publisher</label>
          <select class="form-control" id="field_publisher" data-cy="publisher" name="publisher" formControlName="publisher">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="publisherOption.id === editForm.get('publisher')!.value?.id ? editForm.get('publisher')!.value : publisherOption"
              *ngFor="let publisherOption of publishersSharedCollection; trackBy: trackPublisherById"
            >
              {{ publisherOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_image">Image</label>
          <select class="form-control" id="field_image" data-cy="image" name="image" formControlName="image">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="imageOption.id === editForm.get('image')!.value?.id ? editForm.get('image')!.value : imageOption"
              *ngFor="let imageOption of imagesCollection; trackBy: trackImageById"
            >
              {{ imageOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
