<div class="row">
  <div class="col-4"><h2>Dashboard</h2></div>
  <div class="col-4"></div>
  <div class="col-4"></div>
</div>

<div class="row mt-4">
  <div class="col-6">
    <nb-card accent="info">
      <nb-card-header>
        <div class="row">
          <div class="col-6">Artists</div>
          <div class="col-6">
            <button (click)="toArtists()" style="margin-left: auto" class="float-right" nbButton size="small" status="basic">
              show
              <nb-icon icon="arrowhead-right-outline" pack="eva"> </nb-icon>
            </button>
          </div>
        </div>
      </nb-card-header>
    </nb-card>
  </div>
  <div class="col-6">
    <nb-card accent="info">
      <nb-card-header>
        <div class="row">
          <div class="col-6">Customers</div>
          <div class="col-6">
            <button (click)="toCustomers()" style="margin-left: auto" class="float-right" nbButton size="small" status="basic">
              show
              <nb-icon icon="arrowhead-right-outline" pack="eva"> </nb-icon>
            </button>
          </div>
        </div>
      </nb-card-header>
    </nb-card>
  </div>
</div>

<div class="row mt-4">
  <div class="col-6">
    <nb-card accent="info">
      <nb-card-header>
        <div class="row">
          <div class="col-6">Publishers</div>
          <div class="col-6">
            <button (click)="toPublishers()" style="margin-left: auto" class="float-right" nbButton size="small" status="basic">
              show
              <nb-icon icon="arrowhead-right-outline" pack="eva"> </nb-icon>
            </button>
          </div>
        </div>
      </nb-card-header>
    </nb-card>
  </div>
  <div class="col-6">
    <nb-card accent="info">
      <nb-card-header>
        <div class="row">
          <div class="col-6">News Items</div>
          <div class="col-6">
            <button (click)="toNewsItems()" style="margin-left: auto" class="float-right" nbButton size="small" status="basic">
              show
              <nb-icon icon="arrowhead-right-outline" pack="eva"> </nb-icon>
            </button>
          </div>
        </div>
      </nb-card-header>
    </nb-card>
  </div>
</div>

<div class="row mt-4">
  <div class="col-6">
    <nb-card accent="info">
      <nb-card-header>
        <div class="row">
          <div class="col-6">Orders</div>
          <div class="col-6">
            <button (click)="toOrders()" style="margin-left: auto" class="float-right" nbButton size="small" status="basic">
              show
              <nb-icon icon="arrowhead-right-outline" pack="eva"> </nb-icon>
            </button>
          </div>
        </div>
      </nb-card-header>
    </nb-card>
  </div>
  <div class="col-6">
    <nb-card accent="info">
      <nb-card-header>
        <div class="row">
          <div class="col-6">Items</div>
          <div class="col-6">
            <button (click)="toItems()" style="margin-left: auto" class="float-right" nbButton size="small" status="basic">
              show
              <nb-icon icon="arrowhead-right-outline" pack="eva"> </nb-icon>
            </button>
          </div>
        </div>
      </nb-card-header>
    </nb-card>
  </div>
</div>
